@import vars
@import fonts
@import libs

::placeholder
	color: $text
	opacity: 1
	font-style: italic

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

textarea:focus
	&::-webkit-input-placeholder
		color: transparent!important
	&::-moz-placeholder
		color: transparent!important
	&::-ms-input-placeholder
		color: transparent!important
input:focus
	&::-webkit-input-placeholder
		color: transparent!important
	&::-moz-placeholder
		color: transparent!important
	&::-ms-input-placeholder
		color: transparent!important

html
	-ms-overflow-style: none
	scrollbar-width: none
	&::-webkit-scrollbar
		width: 0
	&::-webkit-scrollbar
		width: 0


html
	overflow: scroll
	overflow-x: hidden
::-webkit-scrollbar
	width: 0px

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Rubik', sans-serif
	overflow-x: hidden
	color: $text
	background: url('../img/@2x/bg.png')

a
	color: #bf8116
	text-decoration: none
	font-weight: 500

.btn
	background-color: $green	
	border: 5px solid $green
	font-size: 20px
	text-decoration: none
	color: #fff
	font-weight: 500
	height: 50px
	max-width: 270px
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	transition: all .3s ease
	&:hover
		color: $green
		text-decoration: none
		border-color: $green
		background: #fff

.container
	max-width: 100%
	padding:
		right: $gutter
		left: $gutter
	margin:
		left: auto
		right: auto

.img-responsive
	display: block
	max-width: 100%
	height: auto

.main
	width: 100%
	max-width: 1250px
	background: #fff
	margin: 0 auto

// HEAD
.header
	background: $accent
	&__line
		background: $accent
		height: 40px
		display: flex
		justify-content: space-between
		align-items: center
	&__search
		display: flex
		align-items: center
		height: 40px
		width: 270px
		background: #fff
		padding-left: 20px
		font-style: italic
		input
			margin-left: 16px
			border: 0
	&__shop
		display: flex
		width: 230px
		align-items: center
		justify-content: space-between
		margin-right: 28px
		p
			margin-bottom: 0
		img
			display: block
			padding-bottom: 2px
	&__info
		height: 124px
		border-top: 2px solid $text
		border-bottom: 2px solid $text
		background: #fff
		.container
			height: 100%
	&__inner
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%
	&__phone-spb, &__phone-msk
		span
			font-size: 14px
		p
			margin-bottom: 0
			font-size: 24px
			font-weight: 500
			line-height: 30px
			a
				color: $text
				&:hover
					color: $text
					text-decoration: none
	&__btn
		width: 270px

.menu
	border-bottom: 2px solid $text
	&__item--close
		display: none
	&__list
		display: flex
		justify-content: space-between
		list-style-type: none
		padding: 0 30px
		margin-bottom: 0
	&__item
		position: relative
		line-height: 24px
		&:hover
			.menu__submenu
				display: block
	&__link
		height: 56px
		display: flex
		align-items: center
		color: $text
		font-size: 18px
		&:hover
			color: #fff
			text-decoration: none
	&__submenu
		display: none
		position: absolute
		left: -25px
		top: 56px
		width: 300px
		background: $accent
		padding: 15px 30px 20px 30px
		list-style-type: none
		border-top: 2px solid $text
		z-index: 1000
		&:hover
			display: block
	&__sub-item
		a
			color: $text
			font-size: 16px
			&:hover
				color: #fff
				text-decoration: none
	&__link--has_sub
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: -9px
			left: 50%
			margin-left: -8px
			text-align: center
			width: 16px
			height: 9px
			background: url('../img/@2x/trinagle.png') no-repeat
			z-index: 10000

// PROMO
.promo
	position: relative
	font-size: 30px
	font-weight: 500
	color: #fff
	&__img
		height: 300px
		width: 100%
		position: relative
		img
			object-fit: cover
			height: 100%
			width: 100%
	&__uptext
		position: absolute
		top: 20px
		left: 40px
	&__downtext
		position: absolute
		bottom: 20px
		right: 40px

// MAIN
	.main
		padding: 30px 40px 60px 40px

// ASIDE
.aside
	width: 340px
	padding: 30px 30px 30px 40px
	&__list
		list-style-type: none
		padding-left: 0
		border: 1px solid #e2e2e2
	&__item--close
		display: none
	&__item
		position: relative
		border-bottom: 1px solid #e2e2e2
		padding: 10px 0 10px 50px
		img
			position: absolute
			top: 10px
			left: 10px
	&__link
		color: $text
		font-size: 19px
		font-weight: 700
		line-height: 22px
		&:hover
			color: $text
			text-decoration: none
	&__link--has_sub
		position: relative
		display: block
		&:after
			content: '\f107'
			color: $accent
			font-size: 24px
			position: absolute
			top: 0
			right: 5px
			font-family: "FontAwesome"
			width: 20px
			height: 20px
	&__subaside
		padding-left: 0
		margin-top: 10px
		display: none
	&__sub-item--active
		background: $accent
		a
			color: #fff!important
		&:before
			background: #fff!important
			z-index: 1000
		&:after
			content: ''
			position: absolute
			background: $accent
			height: 24px
			top: 0px
			left: -50px
			width: 50px
	&__sub-item
		list-style-type: none
		position: relative
		line-height: 24px
		a
			color: $text
			font-weight: 400
		&:before
			content: ''
			position: absolute
			top: 9px
			left: -32px
			border-radius: 100%
			width: 4px
			height: 4px
			background: $accent
	&__info
		margin: 30px 0 40px
		img
			position: static
	&__info-text
		padding: 15px 45px 18px 30px
		background: $accent
	&__info-title
		font-weight: 500
		line-height: 22px
	&__info-p
		line-height: 20px
		margin-top: 10px