@import vars
@import fonts
@import libs

::placeholder
	color: $text
	opacity: 1
	font-style: italic

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

textarea:focus
	&::-webkit-input-placeholder
		color: transparent!important
	&::-moz-placeholder
		color: transparent!important
	&::-ms-input-placeholder
		color: transparent!important
input:focus
	&::-webkit-input-placeholder
		color: transparent!important
	&::-moz-placeholder
		color: transparent!important
	&::-ms-input-placeholder
		color: transparent!important

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: 'Rubik', sans-serif
	overflow-x: hidden
	color: $text
	background: url('../img/@2x/bg.png')
strong
	font-weight: 500

p
	margin-bottom: 10px

a
	color: #bf8116
	text-decoration: none
	font-weight: 500

h1, .h1
	font-weight: 500
	font-size: 36px
	line-height: 36px
	margin-bottom: 20px
	margin-top: -4px
	+media-breakpoint-down(md)
		font-size: 28px
		line-height: 30px
		margin-bottom: 10px
	+media-breakpoint-down(sm)
		font-size: 20px
		line-height: 22px

h2, .h2
	font-weight: 500
	font-size: 30px
	line-height: 30px
	margin: 10px 0 10px
	+media-breakpoint-down(md)
		font-size: 26px
		line-height: 28px
	+media-breakpoint-down(sm)
		font-size: 18px
		line-height: 20px


.btn
	background-color: $green	
	border: 5px solid $green
	font-size: 20px
	text-decoration: none
	color: #fff
	font-weight: 500
	height: 50px
	max-width: 270px
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	transition: all .3s ease
	&:hover
		color: $green
		text-decoration: none
		border-color: $green
		background: #fff
	&--yellow
		background-color: $accent
		border: 2px solid $accent
		font-weight: 400
		color: $text
		width: 230px
		height: 40px
		margin: 0 auto
		font-size: 14px
		&:hover
			border: 2px solid $accent
			background: #fff
			color: $text
	&--yel-empty
		background: #fff
		border: 2px solid $accent
		font-weight: 400
		color: $accent
		width: 230px
		height: 40px
		margin: 0 auto
		font-size: 14px
		cursor: pointer
		&:hover
			border: 2px solid $green
			color: $text
			background: $green
		img
			margin-right: 10px
			padding-bottom: 2px

.container
	max-width: 100%
	padding:
		right: $gutter
		left: $gutter
	margin
		left: auto
		right: auto
	+media-breakpoint-down(md)
		padding:
			right: 15px
			left: 15px

.img-r
	display: block
	max-width: 100%
	height: auto

.main
	width: 100%
	max-width: 1250px
	background: #fff
	margin: 0 auto
.wrap
	display: flex
.content
	margin: 0px 40px 0 0
	width: 100%
	+media-breakpoint-down(lg)
		margin: 0px 15px 0 15px


// HEAD
.header
	background: $accent
	position: relative
	&:before
		content: ''
		background: url('../img/@2x/cones.png') no-repeat
		width: 516px
		height: 712px
		position: absolute
		top: -89px
		left: -280px
		z-index: -1
		+media-breakpoint-down(lg)
			display: none
	&__line
		background: $accent
		height: 40px
		display: flex
		justify-content: space-between
		align-items: center
		+media-breakpoint-down(sm)
			flex-direction: column
			height: auto
			padding-bottom: 10px
	&__search
		display: flex
		align-items: center
		height: 40px
		width: 270px
		background: #fff
		padding-left: 20px
		font-style: italic
		+media-breakpoint-down(lg)
			margin-left: 45px
		+media-breakpoint-down(sm)
			background: $accent
			input
				background: $accent
		input
			margin-left: 16px
			border: 0
	&__shop
		display: flex
		width: 230px
		align-items: center
		justify-content: space-between
		margin-right: 45px
		+media-breakpoint-down(md)
			width: 283px
		+media-breakpoint-down(sm)
			margin-right: 0
			margin-top: 10px
		p
			margin-bottom: 0
		img
			display: block
			padding-bottom: 2px
	&__flag
		display: none
		+media-breakpoint-down(md)
			display: block
	&__info
		height: 124px
		border-top: 2px solid $text
		border-bottom: 2px solid $text
		background: #fff
		+media-breakpoint-down(md)
			height: auto
			padding: 30px 0
		+media-breakpoint-down(sm)
			padding: 15px 0
		.container
			height: 100%
	&__inner
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%
		+media-breakpoint-down(md)
			flex-direction: column
	&__logo
		+media-breakpoint-down(md)
			margin-bottom: 20px
		img
			+media-breakpoint-down(md)
				width: 180px
	&__phone-last
		+media-breakpoint-down(sm)
			display: none
	&__phone-spb, &__phone-msk
		span
			font-size: 14px
		p
			margin-bottom: 0
			font-size: 24px
			font-weight: 500
			line-height: 30px
			+media-breakpoint-down(lg)
				font-size: 20px
			a
				color: $text
				&:hover
					color: $text
					text-decoration: none
	&__btn
		width: 270px
		+media-breakpoint-down(lg)
			width: 220px
			.btn
				font-size: 18px
				height: 40px
		+media-breakpoint-down(lg)
			margin-top: 20px

.gumburger
	display: none
	+media-breakpoint-down(md)
		display: block
		position: absolute
		top: 2px
		right: 15px
		cursor: pointer
		font-size: 30px

.gumburger-left
	display: none
	+media-breakpoint-down(lg)
		display: block
		position: absolute
		top: 2px
		left: 15px
		cursor: pointer
		font-size: 30px


.header__menu
	.container
		+media-breakpoint-down(md)
			padding-left: 0
	+media-breakpoint-down(md)
		position: absolute
		top: 42px
		right: -15px
		z-index: 100000
		+media-breakpoint-down(sm)
			top: 84px
		.menu__list
			flex-direction: column
			background: $accent
			width: 300px
			padding: 15px
		.menu__link
			height: 30px
		.menu__item
			&:hover
				.menu__submenu
					display: none
		.menu__link--has_sub
			position: relative
			&:after
				left: auto
				right: 0
				bottom: 11px

.menu--active
	display: block!important
.menu
	border-bottom: 2px solid $text
	+media-breakpoint-down(md)
		display: none
	&__item--flag
		+media-breakpoint-down(md)
			display: none
	&__item--contact
		border-bottom: none!important
	&__item--close
		display: none
		cursor: pointer
		border-bottom: none!important
		+media-breakpoint-down(md)
			display: block
			position: absolute!important
			top: -38px
			right: 29px
			font-size: 30px
		+media-breakpoint-down(sm)
			top: -75px
	&__item--home
		img
			+media-breakpoint-down(md)
				display: none
		span
			display: none
			+media-breakpoint-down(md)
				display: block
	&__list
		display: flex
		justify-content: space-between
		list-style-type: none
		padding: 0 30px
		margin-bottom: 0
	&__item
		position: relative
		line-height: 24px
		+media-breakpoint-down(md)
			border-bottom: 1px solid $text
		&:hover
			.menu__submenu
				display: block
			.menu__link--has_sub
				&:after
					display: block
	&__link
		height: 56px
		display: flex
		align-items: center
		color: $text
		font-size: 18px
		&:hover
			color: #fff
			text-decoration: none
	&__submenu
		display: none
		position: absolute
		left: -25px
		top: 56px
		width: 300px
		background: $accent
		padding: 15px 30px 20px 30px
		list-style-type: none
		border-top: 2px solid $text
		z-index: 1000
		+media-breakpoint-down(md)
			position: static
			padding: 0 10px 10px 10px
			border-top: none
			a
				font-weight: 400
		&:hover
			display: block
	&__sub-item
		a
			color: $text
			font-size: 16px
			&:hover
				color: #fff
				text-decoration: none
	&__link--has_sub
		position: relative
		&:after
			content: ''
			position: absolute
			bottom: -9px
			left: 50%
			margin-left: -8px
			text-align: center
			width: 16px
			height: 9px
			background: url('../img/@2x/trinagle.png') no-repeat
			z-index: 10000
			display: none
			+media-breakpoint-down(md)
				display: block


// PROMO
.promo
	position: relative
	font-size: 30px
	font-weight: 500
	color: #fff
	margin-bottom: 30px
	+media-breakpoint-down(md)
		margin-bottom: 10px
	&__img
		height: 300px
		width: 100%
		position: relative
		img
			object-fit: cover
			height: 100%
			width: 100%
	&__uptext
		position: absolute
		top: 20px
		left: 40px
		+media-breakpoint-down(md)
			font-size: 24px
			line-height: 28px
			background: rgba(0, 0, 0, .8)
			padding: 10px
	&__downtext
		position: absolute
		bottom: 20px
		right: 40px
		+media-breakpoint-down(md)
			right: auto
			left: 40px
			font-size: 24px
			line-height: 28px
			background: rgba(0, 0, 0, .8)
			padding: 10px
// MAIN
	.main
		padding: 30px 40px 60px 40px

// ASIDE
.aside
	width: 340px
	padding: 0px 30px 30px 40px
	position: relative
	.menu__link--has_sub
	&--active
		display: block!important
	+media-breakpoint-down(lg)
		position: absolute
		top: 42px
		left: -40px
		display: none
		z-index: 999999
		width: 300px
		padding: 0
	+media-breakpoint-down(sm)
		top: 84px
	&__list
		list-style-type: none
		padding-left: 0
		border: 1px solid #e2e2e2
		margin-bottom: 0
		+media-breakpoint-down(lg)
			background: $accent
			border: none
	&__item--close
		display: none
		+media-breakpoint-down(lg)
			display: block
			border-bottom: none!important
			position: absolute!important
			top: -49px
			left: 3px
			font-size: 30px
			cursor: pointer
		+media-breakpoint-down(sm)
			top: -89px
	&__item
		position: relative
		border-bottom: 1px solid #e2e2e2
		padding: 10px 0 10px 50px
		+media-breakpoint-down(lg)
			border-bottom: 1px solid $text
			padding: 6px 0 4px 50px
		img
			position: absolute
			top: 10px
			left: 10px
	&__link
		color: $text
		font-size: 19px
		font-weight: 500
		line-height: 22px
		+media-breakpoint-down(lg)
			font-size: 18px
		&:hover
			color: $text
			text-decoration: none
	&__link--has_sub
		position: relative
		display: block
		&:after
			content: '\f107'
			color: $accent
			font-size: 24px
			position: absolute
			top: 0
			right: 5px
			font-family: "FontAwesome"
			width: 20px
			height: 20px
			+media-breakpoint-down(lg)
				color: $text
	&__subaside
		padding-left: 0
		margin-top: 10px
		display: none
		+media-breakpoint-down(lg)
			padding-left: 10px
	&__sub-item--active
		background: $accent
		a
			color: #fff!important
		&:before
			background: #fff!important
			z-index: 1000
		&:after
			content: ''
			position: absolute
			background: $accent
			height: 24px
			top: 0px
			left: -50px
			width: 50px
	&__sub-item
		list-style-type: none
		position: relative
		line-height: 24px
		a
			color: $text
			font-weight: 400
		&:before
			content: ''
			position: absolute
			top: 9px
			left: -32px
			border-radius: 100%
			width: 4px
			height: 4px
			background: $accent
	&__info
		margin: 30px 0 40px
		+media-breakpoint-down(lg)
			margin: 0
		img
			position: static
			+media-breakpoint-down(lg)
				width: 300px
	&__info-text
		padding: 15px 45px 18px 30px
		background: $accent
		+media-breakpoint-down(lg)
			padding: 15px 45px 18px 60px
	&__info-title
		font-weight: 500
		line-height: 22px
	&__info-p
		line-height: 20px
		margin-top: 10px

// SECTION GOODS
.goods
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	+media-breakpoint-down(lg)
		justify-content: space-between
	+media-breakpoint-down(sm)
		flex-direction: column
		justify-content: center
		align-items: center
	&__item-wrap
		margin-right: 30px
		+media-breakpoint-down(lg)
			width: 25%
		+media-breakpoint-down(md)
			width: 50%
		+media-breakpoint-down(sm)
			width: 100%

		&:nth-child(4n+4)
			margin-right: 0
		+media-breakpoint-down(lg)
			margin-right: 0
	&__item
		width: 194px
		height: 234px
		outline: 2px solid $accent
		display: flex
		flex-direction: column
		justify-content: space-around
		align-items: center
		margin-bottom: 30px
		transition: all .3s ease
		+media-breakpoint-down(lg)
			margin: 0 auto 30px auto
		p
			margin-bottom: 0
			text-align: center
			font-size: 19px
			line-height: 20px
	a
		color: #000
		&:hover
			text-decoration: none
			.goods__item
				outline: 5px solid $accent

// SECTION ADVANTAGE
.advantage
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	+media-breakpoint-down(sm)
		flex-direction: column
		justify-content: center
		align-items: center
	&__item
		display: flex
		max-width: 264px
		+media-breakpoint-down(md)
			max-width: 50%
			margin-bottom: 20px
		+media-breakpoint-down(sm)
			max-width: 100%
		+media-breakpoint-down(xs)
			flex-direction: column
			justify-content: center
			align-items: center
			text-align: center
	&__img
		margin-right: 28px
		+media-breakpoint-down(xs)
			margin-right: 0
			margin-bottom: 10px
	&__text
		span
			font-size: 20px
			display: block
			margin-bottom: 8px
			+media-breakpoint-down(xs)
				line-height: 22px

.beehive
	display: flex
	justify-content: flex-start
	flex-wrap: wrap
	+media-breakpoint-down(lg)
		justify-content: space-between
	+media-breakpoint-down(sm)
		flex-direction: column
		justify-content: center
		align-items: center
	a
		color: $text
		&:hover
			text-decoration: none
			.beehive__item
				outline: 5px solid $accent
			.beehive__title
				text-decoration: underline
			.btn-mini
				background: $accent
	&__item
		max-width: 146px
		height: 296px
		outline: 2px solid $accent
		transition: all .3s ease
		display: flex
		flex-direction: column
		justify-content: flex-end
		align-items: center
		text-align: center
		padding: 9px 12px 14px 12px
		margin-bottom: 30px
		+media-breakpoint-down(md)
			margin: 0 auto 15px auto
	&__item-wrap
		margin-right: 30px
		&:nth-child(5n+5)
			margin-right: 0
		+media-breakpoint-down(lg)
			margin-right: 0
		+media-breakpoint-down(md)
			width: 50%
		+media-breakpoint-down(sm)
			width: 100%
	&__title
		font-weight: 400
		margin-top: 10px
	&__price
		font-size: 14px
		margin-top: 10px
		font-weight: 400
		span
			font-size: 22px
			font-weight: 500
	&__btn
		margin-top: 5px
		.btn-mini
			height: 30px
			width: 110px
			background: #e2e2e2
			font-size: 16px
			color: $text
			border: 0
			font-weight: 400

// SECTION CONTENT
.sect-content
	.youtube
		float: right
		margin-left: 30px
		+media-breakpoint-down(sm)
			float: none
			margin: 0 auto 20px auto
			text-align: center
			img
				margin: 0 auto

.footer
	margin-top: 64px
	+media-breakpoint-down(md)
		margin-top: 0
		background: $accent
	&__menu
		background: $accent
	&__inner
		display: flex
		padding: 36px 0 76px 0
		+media-breakpoint-down(md)
			padding: 15px 0
	&__info
		max-width: 310px
		+media-breakpoint-down(md)
			margin: 0 auto
	&__adress
		padding: 15px 0 20px 28px
		p
			font-size: 16px
			line-height: 20px
			font-weight: 400
		a
			margin-top: 10px
			display: block
			color: $text
			font-weight: 400
			text-decoration: underline
	&__social
		margin-top: 40px
		+media-breakpoint-down(md)
			margin-top: 0
		img
			margin-right: 10px
			transition: all .3s ease
			&:hover
				opacity: .8
	&__title
		font-size: 24px
		font-weight: 500
		margin-bottom: 20px
	&__submenu
		background: #fff
		list-style-type: none
		padding-left: 0
	&__item
		margin-bottom: 10px
		a
			color: $text
			font-size: 18px
			font-weight: 400
	&__catalog, &__states
		margin-left: 40px
		+media-breakpoint-down(md)
			display: none
.after-footer
	color: #fff
	padding: 20px 40px 20px 60px
	font-size: 14px
	+media-breakpoint-down(sm)
		padding: 15px 10px
	p
		margin-bottom: 5px
	a
		color: #fff
		text-decoration: underline
		&:after
			color: #fff


	// SINGLE PAGE
.breadcrumb
	display: flex
	flex-wrap: wrap
	list-style-type: none
	font-size: 12px
	color: #898383
	padding-left: 0
	margin:
		bottom: 10px
		top: 8px
	li
		line-height: 18px
		&:last-child
			&:after
				display: none
		&:after
			content: '::'
			color: #898383
			margin-left: 10px
			margin-right: 10px
		a
			text-decoration: underline
		img
			padding-bottom: 5px

// PAGE BEEHIVE
.page-beehive
	flex-wrap: wrap
	.beehive__item-wrap
		+media-breakpoint-down(lg)
			margin-right: 0
			width: 25%
		+media-breakpoint-down(md)
			width: 50%
		&:nth-child(4n+4)
			margin-right: 0
		&:nth-child(5n+5)
			margin-right: 30px
			+media-breakpoint-down(lg)
				margin-right: 0
		+media-breakpoint-down(sm)
			width: 100%
	.beehive__item
		max-width: 195px
		width: 100%
		height: 320px
		+media-breakpoint-down(lg)
			margin: 0 auto  30px auto
		+media-breakpoint-down(md)
			margin: 0 auto  15px auto
		justify-content: space-around
	.beehive__title
		width: 171px

// PRODUCT
.product
	&__img
		float: left
		width: 270px
		height: 324px
		display: flex
		align-items: center
		justify-content: center
		border: 2px solid $accent
		margin-right: 30px
		+media-breakpoint-down(md)
			float: none
			margin: 0 auto 15px auto
	&__title
		font-size: 18px
		margin-top: 30px
		img
			padding-bottom: 8px
			margin: 0 10px 5px 0
	&__list
		padding-left: 32px
		list-style-type: none
		li
			position: relative
			text-decoration: underline
			margin-bottom: 5px
			&:before
				content: ''
				position: absolute
				left: -25px
				top: 9px
				background: $accent
				width: 4px
				height: 4px
				border-radius: 100%
	&__youtube
		display: flex
		flex-wrap: wrap
		+media-breakpoint-down(md)
			justify-content: center
	&__you-item
		margin-right: 30px
		margin-bottom: 30px
		+media-breakpoint-down(sm)
			margin-right: 0
		img
			margin-bottom: 15px
		a
			text-decoration: underline
			color: $text
			font-weight: 400
			padding-right: 20px
			max-width: 315px
			display: block

// PAGE BEEHIVE10
.bigger
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	+media-breakpoint-down(md)
		flex-direction: column
		justify-content: center
	&__wrap
		width: 48%
		margin-right: 30px
		line-height: 18px
		+media-breakpoint-down(lg)
			margin: 0 auto
		+media-breakpoint-down(md)
			width: 100%
		&:nth-child(2n+2)
			margin-right: 0
		a
			color: $text
			font-weight: 400
			&:hover
				text-decoration: none
				.bigger__title
					text-decoration: underline
				.btn
					background: $accent
				.bigger__item
					outline: 5px solid $accent
	&__item
		display: flex
		justify-content: center
		align-items: center
		outline: 2px solid $accent
		height: 230px
		transition: .3s all ease
		margin-bottom: 30px
		max-width: 416px
		width: 100%
		+media-breakpoint-down(lg)
			margin: 0 auto 30px auto
		+media-breakpoint-down(lg)
			margin: 0 auto 15px auto
	&__info
		max-width: 170px
	&__img
		margin-right: 60px
		+media-breakpoint-down(xs)
			margin-right: 10px
	&__title
		font-size: 18px
		line-height: 20px
	&__price-wrap
		margin-top: 20px
	&__price
		span
			font-weight: 500
			font-size: 22px
	&__btn
		margin-top: 20px
		.btn
			width: 100%


// CARD PAGE
.card
	display: flex
	+media-breakpoint-down(md)
		flex-direction: column
		justify-content: center
		align-items: center
	&__slider-wrap
		border: 2px solid $accent	
		width: 266px
		margin-right: 30px
		position: relative
		+media-breakpoint-down(md)
			margin-right: 0
		.y_prevArrow, .y_nextArrow
			position: absolute
			top: 50%
			font-size: 50px
			margin-top: -25px
			opacity: .6
			cursor: pointer
			z-index: 10000
		.y_prevArrow
			left: -22px
		.y_nextArrow
			right: -20px
	&__slider
		overflow: hidden
		width: 266px
		+media-breakpoint-down(md)
			overflow: visible
	&__slide
	&__slide-img
		width: 266px
		height: 360px
		display: flex
		align-items: center
		justify-content: center

	&__dots
		.slick-dots
			display: flex
			flex-wrap: wrap
			list-style-type: none
			width: 268px
			padding-left: 0
			margin-top: 14px
			+media-breakpoint-down(md)
				display: none!important
			li
				margin-right: 14px
				margin-bottom: 14px
				cursor: pointer
				&:nth-child(3n+3)
					margin-right: 0
				img
					width: 78px
					height: 100px
					border: 2px solid $accent
	&__right
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		max-width: 570px
		width: 100%
		+media-breakpoint-down(md)
			margin-top: 20px
		+media-breakpoint-down(md)
	&__text
		width: 270px
		font-size: 14px
		+media-breakpoint-down(sm)
			order: 1
			margin: 0 auto
	&__calc
		width: 270px
		height: 320px
		border: 2px solid $accent
		text-align: center
		padding: 20px 0
		+media-breakpoint-down(sm)
			margin: 0 auto
	&__price
		span
			font-size: 44px
	&__qual
		display: flex
		align-items: center
		justify-content: center
		height: 30px
		font-size: 19px
		margin-bottom: 20px
		input
			width: 50px
			border: 1px solid #e3e3e3
			text-align: center
			margin: 0 10px
			&::placeholder
				font-style: normal
		.s-minus, .s-plus
			text-align: center
			padding-bottom: 10px
			width: 30px
			height: 30px
			background: $accent
			cursor: pointer
	&__info
		padding: 10px 20px
		strong
			font-size: 24px
		p
			margin-bottom: 0
			line-height: 20px
			margin-bottom: 5px
	&__container
		width: 100%
		margin-top: 40px
		+media-breakpoint-down(md)
			margin-top: 15px
		p
			margin-bottom: 0px
			padding-left: 33px
	&__title-p
		line-height: 20px
		+media-breakpoint-down(xs)
			margin-top: 5px
		strong
			font-size: 24px
	&__title
		display: flex
		align-items: center
		margin: 5px 0
		font-size: 18px
	&__title--mb0
		margin-bottom: 0
		line-height: 20px
	&__t-img
		padding-bottom: 5px
		margin-right: 15px
	&__table
		max-width: 530px
		width: 100%
		margin-top: 10px
		margin-left: 33px
		margin-bottom: 15px
		+media-breakpoint-down(md)
			max-width: 90%
			margin-right: 10px
		tr
			position: relative
			&:before
				content: ''
				position: absolute
				top: 9px
				left: -30px
				width: 20px
				height: 20px
				background: url('../img/@2x/check.png') no-repeat
		td:nth-child(2n)
			width: 50px
			text-align: center

.card-product__title
	+media-breakpoint-down(md)
		margin-top: 0

// SHOP PAGE
.shop
	&__item
		display: flex
		justify-content: space-between
		align-items: center
		font-size: 19px
		margin-bottom: 10px
		+media-breakpoint-down(md)
			flex-direction: column
			height: 280px
			margin-bottom: 30px
	&__img
		border: 2px solid $accent
		width: 70px
		height: 92px
		display: flex
		justify-content: center
		align-items: center
	&__sum
		display: flex
		+media-breakpoint-down(md)
			margin-right: 50px
	&__price-sum
		width: 100px
		display: block
		text-align: right
		margin-right: 10px	
	&__title
		font-size: 14px
		p
			margin-bottom: 0
		strong
			font-size: 19px
	.card__qual
		margin-bottom: 0
	&__cost
		margin-top: 20px
		padding-top: 20px
		padding-right: 20px
		border-top: 1px solid #e2e2e2
		text-align: right
		font-size: 16px
		+media-breakpoint-down(md)
			padding-right: 0
			text-align: center
		span
			font-size: 36px
			font-weight: 500

//FORM
.hidden
	display: none
.form
	position: relative
	display: flex
	margin: 0 auto
	flex-direction: column
	max-width: 100%
	width: 100%
	padding: 40px 40px 40px 0
	background-color: #fff	
	+media-breakpoint-down(md)
		padding: 0 0 40px 0
	.form__p
		color: #363636
		text-align: center
		font-size: 11px
		max-width: 300px
		margin: 0 auto
		line-height: 14px
	.btn
		margin: 30px 0 0 0
		font-weight: 500
		font-size: 24px
		width: 270px
		height: 45px
		+media-breakpoint-down(md)
			margin: 30px auto 0 auto
	.h3
		font-size: 500px
		font-size: 36px
		margin: 0
		padding-bottom: 10px
		+media-breakpoint-down(md)
			text-align: center
			font-size: 25px
			line-height: 27px
			margin-top: 30px
	input, textarea
		padding: 9px 9px 9px 20px
		border: 1px solid $text
		color: #363636
		margin-bottom: 10px
		font-size: 16px
		font-style: italic
		&::-webkit-input-placeholder
			color: #363636
			opacity: 1
		&::-moz-placeholder
			color: #363636
			opacity: 1
		&::-ms-input-placeholder
			color: #363636

.wrap-inpute
	display: flex
	+media-breakpoint-down(md)
		flex-direction: column
		justify-content: center
		text-align: center
		align-items: center
	&__item
		width: 100%
		margin-right: 30px
		+media-breakpoint-down(md)
			margin-right: 0
		&:last-child
			margin-right: 0
		label
			display: block
		input
			width: 100%
			max-width: 360px
			box-shadow: 0px 3px 0px 0px #e2e2e2 inset
textarea
	border-radius: 30px
button.mfp-close
	padding: 20px	
.mfp-close //картинка закрытися popup
	width: 22px
	height: 22px
	padding: 0
	right: 26px
	top: -13px
	.fa
		display: block

.cheked-wrap
	display: flex
	align-items: center
	+media-breakpoint-down(sm)
		flex-direction: column
		justify-content: center
		align-items: flex-start

.input-cheked
	cursor: pointer
	padding-left: 20px
	max-width: 520px
	margin: 20px 20px 0
	position: relative
	span
		cursor: pointer
	label
		line-height: 16px
		margin-bottom: 0
		height: 100%
	input
		display: none
	input[type=checkbox]:checked + label:before
		content: "\f00c"
		font-family: "FontAwesome"
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
		font-size: 20px
		color: $accent
		text-align: center
		line-height: 15px
		position: absolute
		top: 5px
		left: -16px
		cursor: pointer
	&__text
		position: relative
		a
			color: $text
			text-decoration: underline
		&:before
			content: ''
			position: absolute
			top: -5px
			left: -40px
			width: 30px
			height: 30px
			border-radius: 3px
			border: 2px solid $accent
			cursor: pointer
.input-addres
	margin-top: 30px
	display: flex
	flex-direction: column

#callback
	max-width: 800px
	padding: 20px
	position: relative
	z-index: 9999999999999
// END FORM


// STATES PAGE
.states
	display: flex
	flex-wrap: wrap
	+media-breakpoint-down(md)
		flex-direction: column
		align-items: center
	&__item
		margin-right: 30px
		margin-bottom: 30px
		+media-breakpoint-down(md)
			margin-right: 0
		&:nth-child(2n+2)
			margin-right: 0
	&__img
		height: 184px
		width: 416px
		position: relative
		+media-breakpoint-down(xs)
			width: 100%
			height: auto
		img
			object-fit: cover
			height: 100%
			width: 100%
	&__title
		font-size: 18px
		font-weight: 500
		height: 54px
		border: 2px solid $accent
		border-top: 0
		display: flex
		align-items: center
		padding: 0 20px

// ABOUT
.about
	display: flex
	flex-wrap: wrap
	+media-breakpoint-down(lg)
		justify-content: space-between
	&__wrap
		margin-right: 30px	
		+media-breakpoint-down(md)
			width: 48%
			margin-right: 0
		+media-breakpoint-down(sm)
			width: 100%
		&:nth-child(3n+3)
			margin-right: 0
	&__item
		width: 270px
		margin-bottom: 30px
		+media-breakpoint-down(md)
			margin: 0 auto 30px auto
	&__info
		border: 2px solid $accent
		border-top: none
		height: 168px
		padding: 10px 25px 15px 25px
		overflow: hidden
	&__img
		width: 270px
		height: 170px
		position: relative
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__title
		font-size: 19px
		font-weight: 500
		margin-bottom: 10px
		height: 53px
		display: flex
		align-items: center
	&__text
		line-height: 22px	

// MAKING PAGE
.making
	&__youtube
		max-width: 708px
		margin: 0 auto 30px
		img
			width: 100%